/* the styles for the HTML elements */


header {
    background-color:#DEB887; 
    height:15%;
}

nav {
    background-color:#909494;
    width:20%;
    height:62%;
    float:left;
    color: rgb(44, 6, 6);
    padding: 20px 20px;
    margin-right: 20px;
}

main {
    background-color:#13c6f3;
    height:75%;
    padding-top: 20px;
}

footer {
    background-color:#FFEBCD;
    clear:both;
    height:25px;
    padding: 20px;
    position:absolute;
    Bottom:0px;
}

header h1 {

    color: dimgray;
}
/*remove display: flex;*/
body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #6dd5ed, #2193b0);
    color: white
}

/*add
    width: 40%;
    margin-left: 25%;
*/
#countdown {
    background: rgba(0, 0, 0, 0.7);
    padding: 40px 60px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 40%;
    margin-left: 25%;
}

#timer {
   font-size: 3rem; 
   letter-spacing: 3px;
}

.timer-unit {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 10px;
    display: inline;
}